/* Reset */
*{
padding: 0;
margin: 0;
box-sizing: border-box;}

body{
    font-family: helvetica-neue-lt,Neue Helvetica VFDP,helvetica,sans-serif;
    letter-spacing: 4px;}
    
header{
    align-items: center;
    justify-self:center ;
    grid-area: header;}
.menu{
    background-color:whitesmoke;}

.nav-item{
    font-size: 1.2rem;
    padding: 0 10px 0 10px;}

.boton-nav{
    color: #000000;
    border: solid rgb(0, 0, 0) 2px;}


.logo-principal img{
    box-shadow: none;
    width: 9rem;}

.logo-iniciar-sesion img{
    box-shadow: none;
    max-width: 3.125rem;}


.main-index{
    grid-area: main;}

.footer-pag{
    grid-area: footer;
    background-color: #2a2a2a;
    height: 5rem;
    margin-top: 2rem;}

.footer-sesion{
    background-color: #2a2a2a;
    height: 5rem;
    margin-top: 2rem;}

footer h3{
    display: flex;
    color: white;
    justify-content: center;
    }

.contenedor{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: auto ;
    position: relative;
    grid-template-areas:"header header header header"
                        "main main main main "
                        "footer footer footer footer " ;
    align-items: center;
    justify-content: center;
    }


.main-index{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr auto auto 1fr ;
    grid-template-rows: auto ;
    position: relative;
    grid-template-areas:"imgTop imgTop imgTop imgTop"
                        "img1 img1 img2 img2" 
                        "img3 img4 img5 img6";
    align-items: center;
    justify-content: center;}

.img-top{
    grid-area: imgTop;}
.img-top img{
    max-width: 100%;}

.imagen1{
    justify-self: right;
    grid-area: img1;
    transition: 10s;}

.imagen1 img:hover{
    transform: scale(1.03);
     transition: 1s;}

.imagen2{
    grid-area: img2;}

.imagen2 img:hover{
    transform: scale(1.03);
        transition: 1s;}
    
.imagen3{
    justify-self: right;
    grid-area: img3;}

.imagen3 img:hover{
    transform: scale(1.03);
    transition: 1s;}

.imagen4{
    grid-area: img4;}
.imagen4 img:hover{
    transform: scale(1.03);
    transition: 1s;}

.imagen5{
    grid-area: img5;}
.imagen5 img:hover{
    transform: scale(1.03);
    transition: 1s;}

.imagen6{
    grid-area: img6;}
.imagen6 img:hover{
    transform: scale(1.03);
    transition: 1s;}
    
.imagen3 img{
    width:18.5rem;}
.imagen4 img{
    width:18.5rem;}
.imagen5 img{
    width:18.5rem;}
.imagen6 img{
    width: 18.5rem;}

@media screen and (max-width:1024px){
    .barra-busqueda-input{
        width: 30rem;}

    .imagen1 img{
        width: 22rem;}

    .imagen2 img{
        width: 22rem;}

    .imagen3 img{
        width:10.5rem;}
            
    .imagen4 img{
        width:10.5rem;}
            
    .imagen5 img{
        width:10.5rem;}
    
    .imagen6 img{
        width: 10.5rem;}
    }


@media screen and (max-width:600px)  {
    .main-index{
        display: grid;
        gap: 1rem;
        grid-template-columns:  auto  ;
        grid-template-rows: auto;
        position: relative;
        grid-template-areas: 
                            " imgTop "
                            " img1"
                            "img2"
                             "img3"
                            "img4"
                            "img5"
                            "img6" ;
        align-items: center;
        justify-content: center;}

    .img-top img{
        width: 100%;
        height: 10rem;
        }

    .imagen1 img{
        width: 20rem;}

    .imagen1{
        justify-self: center;
        width: 20rem;}

    .imagen2{
        justify-self: center;
        width: 20rem;}

    .imagen2 img{
        width: 20rem;}
        
    .imagen3{
        justify-self: center;}

    .imagen3 img{
        width: 18.5rem;}
    .imagen4{
        justify-self: center;}

    .imagen4 img{
        width: 18.5rem;}

    .imagen5{
        justify-self: center;}

    .imagen5 img{
        width: 18.5rem;}

    .imagen6{
        justify-self: center;}

    .imagen6 img{
        width: 16.5rem;}

    .logo-principal img{
        max-width: 4rem;
        margin-left: 20px;}
            
    .logo-iniciar-sesion img{
        max-width: 2rem;}
        
    .barra-busqueda-input{
        width: 12rem;
        margin: 0;}
    
    .menu{
        align-self: flex-start;
        padding:0 0 6rem 0;}

    .menu ul li a{
        font-size: 1rem;}
        
    .menu ul li {
        justify-self: center;
        display: block;
    }

}
/* Fin Index */

.main-pag{
        grid-area: main;
        display: grid;
        gap: 2rem;
        margin:4rem;
        grid-template-columns:auto auto auto auto;
        grid-template-rows:auto ;
        position: relative;
        grid-template-areas:
                            " sidebar imgUno imgDos imgTres"
                            " sidebar  imgCuatro imgCinco  imgSeis ";
        align-items: center;
        justify-content: center;
    }
    .main-pag img{
        width: 100%;}

    .sidebar{
        list-style: none;
        grid-area: sidebar;
        align-self: flex-start;
        justify-self: center;}

    .sidebar a{
        color: black;
        text-decoration: none;
        padding: 5px;}

    .sidebar li{
        margin-top: 1rem;}
   .animate__fadeInDown{
        animation-duration: 1s;
        font-size: 2rem;
        margin-bottom: 5rem;}
    .sidebar h3{
        font-size: 1.3rem;}

    .sidebar a:hover{
        font-weight: bold;
        font-size: 1rem;}
    
    .categoria ul{
        list-style: none;
        margin-bottom: 5rem;
        font-size: 0.8rem;}

    .marcas ul{
        list-style: none;
        font-size: 0.8rem;}
    .img-uno
        {grid-area: imgUno;
        transition: 0.7s;
        justify-self: center ;
        max-width:25rem ;}

    .img-dos
        {grid-area: imgDos;
        transition: 0.7s;
        max-width:25rem;} 

    .img-tres
        {grid-area: imgTres;
        transition: 0.7s;
        max-width:25rem;}

    .img-cuatro
        {grid-area: imgCuatro;
        transition: 0.7s;
        max-width:25rem;}

    .img-cinco
        {grid-area: imgCinco;
        transition: 0.7s;
        max-width:25rem;}

    .img-seis
        {
        grid-area: imgSeis;
        transition: 0.7s;
        max-width:25rem;}


    .img-uno:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);}
    .img-dos:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);}
    .img-tres:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);}
    .img-cuatro:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);}
    .img-cinco:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);}
    .img-seis:hover{
        transform: scale(1.06);
        box-shadow: 0 0 0.3rem 0 rgb(94, 93, 93);
    }
    @media screen and (max-width:1024px){
        .main-pag{
            display: grid;
            gap: 1rem;
            margin:0 2rem 0 2rem;
            grid-template-columns:0.5fr 1fr 1fr;
            grid-template-rows:auto ;
            position: relative;
            grid-template-areas:
                                " sidebar imgUno imgDos"
                                " sidebar  imgTres imgCuatro"
                                "sidebar imgCinco imgSeis";
            align-items: center;
            justify-content: center;}
    }

    @media screen and (max-width:600px){
        .main-pag{
            display: grid;
            gap: 1rem;
            margin:0 0rem 0 0rem;
            grid-template-columns: 1fr;
            grid-template-rows:auto ;
            position: relative;
            grid-template-areas:
                                " imgUno "
                                " imgTres "
                                " imgCinco "
                                "imgDos"
                                "imgCuatro"
                                "imgSeis"
                                ;
            align-items: center;
            justify-content: center;}
        .logo-iniciar-sesion{
            max-width: 3rem;
            margin-right: 0px;}
        .logo-iniciar-sesion img{
            max-width: 2.5rem;}


        .logo-principal img{
            max-width: 5rem;}
            
        .apartados{
            margin-bottom: 7.5rem;}

        .apartados ul li {
            margin: 0.4rem;
            display: block;
            justify-self: center;
            align-self: center;}

        .sidebar{
            display:none ;}

        .img-uno{
            justify-self: center;
            max-width: 20rem;
            max-height: 20rem ;}
        .img-dos{
            justify-self: center;
            max-width: 20rem;
            max-height:20rem ;}
            
        .img-tres{
            justify-self: center;
            max-width: 20rem;
            max-height:20rem ;}
                
        .img-cuatro{
            justify-self: center;
            max-width: 20rem;
            max-height:20rem ;}
                    
        .img-cinco{
            justify-self: center;
            max-width: 20rem;
            max-height:20rem ;}
                        
        .img-seis{
            justify-self: center;
            max-width: 20rem;
            max-height:20rem ;}
            
        .img-uno:hover{
            box-shadow: none;
            transform: none;}
        .img-dos:hover{
            box-shadow: none;
            transform: none;}
        .img-tres:hover{
            box-shadow: none;
            transform: none;}
        .img-cuatro:hover{
            box-shadow: none;
            transform: none;}
        .img-cinco:hover{
            box-shadow: none;
            transform: none;}
        .img-seis:hover{
            box-shadow: none;
            transform: none;}
}
/* Fin Pag */





.main-marca{
    grid-area: main;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:auto ;
    position: relative;
    grid-template-areas:"imgTop imgTop imgTop imgTop imgTop"
                        "titulo titulo titulo titulo titulo"
                        "img-marca-1 img-marca-2 img-marca-3 img-marca-4 img-marca-5 "
                        "img-marca-6 img-marca-7 img-marca-8 img-marca-9 img-marca-10"; }

.animate__backInLeft{
    grid-area: titulo;
    justify-self: center;
    margin: 4rem;
    font-size: 2rem;
    animation-name: entrada;
    animation-duration: 1.5s;}

.img-marca-1{
    justify-self: center;
    grid-area: img-marca-1;
    width: 40%;}
.img-marca-1 img{
    width: 100%;}

.img-marca-2{
    justify-self: center;
    grid-area: img-marca-2;
    width: 80%;}
.img-marca-2 img{
    width: 100%;}

.img-marca-3{
    justify-self: center;
    grid-area: img-marca-3;
    width: 80%;}

.img-marca-3 img{
    width: 100%;}

.img-marca-4{
    grid-area: img-marca-4;
    justify-self: center;
    width: 50%;}
.img-marca-4 img{
    width: 100%;}

.img-marca-5{
    grid-area: img-marca-5;
    justify-self: center;
    width: 70%;}
.img-marca-5 img{
    width: 100%;}

.img-marca-6{
    grid-area: img-marca-6;
    justify-self: center;
    width: 70%;}
    
.img-marca-6 img{
    width: 100%;}

.img-marca-7{
    grid-area: img-marca-7;
    justify-self: center;
    width: 70%;}
.img-marca-7 img{
    width: 100%;}
    
.img-marca-8{
    grid-area: img-marca-8;
    justify-self: center;
    width: 40%;}
.img-marca-8 img{
    width: 100%;}

.img-marca-9{
    grid-area: img-marca-9;
    justify-self: center;
    width: 80%;}
.img-marca-9 img{
    width: 100%;}
        
.img-marca-10{
    grid-area: img-marca-10;
    justify-self: center;
    width: 60%;}
.img-marca-10 img{
    width: 100%;}

@media screen and (max-width: 1024px){
    .main-marca{
        gap: 2rem;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:auto;
        position: relative;
        grid-template-areas: "imgTop  imgTop"
                            "titulo titulo "
                            "img-marca-1 img-marca-2"
                            "img-marca-3 img-marca-4"
                            "img-marca-5 img-marca-6"
                            "img-marca-7 img-marca-8" 
                            "img-marca-9 img-marca-10"}                                  
     .menu a{   
        font-size: 1rem;
        padding: 0.75rem 0.6rem;}
    header{
        justify-content: space-around;}

    .logo-iniciar-sesion img{
        max-width: 3rem;
        margin-right: 0px;}
        
    .logo-principal img{
        max-width: 6rem;}
        
    .img-marca-1 {
        width: 40%;}
    
    .img-marca-2 {
        width: 70%;
        }

       .img-marca-3{
        width: 70%;
      }
    
    .img-marca-4 {
        width: 60%;
     }
    
    .img-marca-5{
        width: 70%;
        }
    
    .img-marca-6{
        width: 70%;
        }

    .img-marca-7{
        width: 70%;
        }
        
    .img-marca-8{
        width: 40%;
        }

    .img-marca-9{
        width: 70%;}
            
    .img-marca-10{
        width: 70%;
       }


}
@media screen and (max-width: 600px) {
    .main-marca{
        gap:1rem;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:auto;
        position: relative;
        grid-template-areas:"imgTop  imgTop"
                            "titulo titulo "
                            "img-marca-1 img-marca-2"
                            "img-marca-3 img-marca-4"
                            "img-marca-5 img-marca-6"
                            "img-marca-7 img-marca-8" 
                            "img-marca-9 img-marca-10";
        align-items: center;  }

    .logo-iniciar-sesion{
        max-width: 6rem;
        margin-right: 0px;}
    .logo-iniciar-sesion img{
        max-width: 0rem;
         margin-right: 0px;}
    
    .logo-principal img{
        max-width: 4rem;
        margin: 0;}
                
 .logo-iniciar-sesion img{
        max-width: 2.5rem;}

    .animate__backInLeft{
        text-align: center;}
    
header{
    justify-content: space-between;}
    
}

.iniciar-sesion-pag {
       padding: 18% 0 0;
       margin: 0 auto 100px;
       max-width: 700px;
     }
      
     .iniciar-sesion-form {
        box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
     }
      
     .titulo-iniciar-form {
        padding-top: 16px;
     }
      
     .iniciar-form {
        padding-top: 40px;
        padding-bottom: 40px;
     }
      
     .titulo-form {
        font-size:30px; 
        font-weight: bold;
     }
    