*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

header{
    align-items: center;
    justify-self:center ;
    grid-area: header;
    letter-spacing: 2px;
    font-weight: bold;
    .menu{
        .logo-iniciar-sesion img{
            max-width: 80%;}
        background-color: whitesmoke;
        .nav-item{
            font-size: 1.2rem;}
        .boton-nav{
            color: #000000;
            border: solid rgb(0, 0, 0) 2px;}
        .logo-iniciar-sesion img{
            max-width: 90%;}
    }
}

.contenedor{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: auto ;
    position: relative;
    grid-template-areas:"header header header header"
                        "main main main main "
                        "footer footer footer footer " ;
    align-items: center;
    justify-content: center;
    
    header{
        align-items: center;
        justify-self:center ;
        grid-area: header;
        .menu{
            .logo-iniciar-sesion img{
                max-width: 80%;}
            background-color: whitesmoke;
            .nav-item{
                font-size: 1.2rem;}
            .boton-nav{
                color: #000000;
                border: solid rgb(0, 0, 0) 2px;}
            .logo-iniciar-sesion img{
                max-width: 90%;}
        }
    }
    .main-index{
        grid-area: main;
        display: grid;
        gap: 1.25rem;
        grid-template-columns: 1fr auto auto 1fr ;
        grid-template-rows: auto ;
        position: relative;
        grid-template-areas:"imgTop imgTop imgTop imgTop"
                        "img1 img1 img2 img2" 
                        "img3 img4 img5 img6";
        align-items: center;
        justify-content: center;
        .img-top{
            grid-area: imgTop;}
        .img-top img{
            max-width: 100%;}
        
        .imagen1{
            justify-self: right;
            grid-area: img1;}
        
        .imagen2{
            grid-area: img2;}
        .imagen3{
            justify-self: right;
            grid-area: img3;}
        .imagen4{
            grid-area: img4;}
        .imagen5{
            grid-area: img5;}
        .imagen6{
            grid-area: img6;}
        .imagen3 img{
            width:17.5rem;}
        .imagen4 img{
            width:17.5rem;}
        .imagen5 img{
            width:17.5rem;}
        .imagen6 img{
            width: 17.5rem;}
        }
    
    .footer-pag{
        grid-area: footer;
        background-color: #2a2a2a;
        height: 5rem;
        margin-top: 2rem;
        footer h3{
            display: flex;
            color: white;
            justify-content: center;
        }
    }
    @media screen and (max-width:600px)  {
        .main-index{
            display: grid;
            gap: 1rem;
            grid-template-columns:  auto  ;
            grid-template-rows: auto;
            position: relative;
            grid-template-areas: 
                                "imgTop"
                                "img1"
                                "img2"
                                "img3"
                                "img4"
                                "img5"
                                "img6" ;
            align-items: center;
            justify-content: center;

          .img-top{
            width:100%;}

        .imagen1 img{
            width: 16rem;}
        
            .imagen1{
                justify-self: center;
                width: 16rem;}
        
            .imagen2{
                justify-self: center;
                width: 16rem;}
        
            .imagen2 img{
                width: 16rem;}
                
            .imagen3{
                justify-self: center;}
        
            .imagen3 img{
                width: 16.5rem;}
            .imagen4{
                justify-self: center;}
        
            .imagen4 img{
                width: 16.5rem;}
        
            .imagen5{
                justify-self: center;}
        
            .imagen5 img{
                width: 16.5rem;}
        
            .imagen6{
                justify-self: center;}
        
            .imagen6 img{
                width: 16.5rem;}
            }
        }
    }
        