* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-self: center;
  grid-area: header;
  letter-spacing: 2px;
  font-weight: bold; }
  header .menu {
    background-color: whitesmoke; }
    header .menu .logo-iniciar-sesion img {
      max-width: 80%; }
    header .menu .nav-item {
      font-size: 1.2rem; }
    header .menu .boton-nav {
      color: #000000;
      border: solid black 2px; }
    header .menu .logo-iniciar-sesion img {
      max-width: 90%; }

.contenedor {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  position: relative;
  grid-template-areas: "header header header header"
 "main main main main "
 "footer footer footer footer ";
  align-items: center;
  justify-content: center; }
  .contenedor header {
    align-items: center;
    justify-self: center;
    grid-area: header; }
    .contenedor header .menu {
      background-color: whitesmoke; }
      .contenedor header .menu .logo-iniciar-sesion img {
        max-width: 80%; }
      .contenedor header .menu .nav-item {
        font-size: 1.2rem; }
      .contenedor header .menu .boton-nav {
        color: #000000;
        border: solid black 2px; }
      .contenedor header .menu .logo-iniciar-sesion img {
        max-width: 90%; }
  .contenedor .main-index {
    grid-area: main;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto;
    position: relative;
    grid-template-areas: "imgTop imgTop imgTop imgTop"
 "img1 img1 img2 img2" 
 "img3 img4 img5 img6";
    align-items: center;
    justify-content: center; }
    .contenedor .main-index .img-top {
      grid-area: imgTop; }
    .contenedor .main-index .img-top img {
      max-width: 100%; }
    .contenedor .main-index .imagen1 {
      justify-self: right;
      grid-area: img1; }
    .contenedor .main-index .imagen2 {
      grid-area: img2; }
    .contenedor .main-index .imagen3 {
      justify-self: right;
      grid-area: img3; }
    .contenedor .main-index .imagen4 {
      grid-area: img4; }
    .contenedor .main-index .imagen5 {
      grid-area: img5; }
    .contenedor .main-index .imagen6 {
      grid-area: img6; }
    .contenedor .main-index .imagen3 img {
      width: 17.5rem; }
    .contenedor .main-index .imagen4 img {
      width: 17.5rem; }
    .contenedor .main-index .imagen5 img {
      width: 17.5rem; }
    .contenedor .main-index .imagen6 img {
      width: 17.5rem; }
  .contenedor .footer-pag {
    grid-area: footer;
    background-color: #2a2a2a;
    height: 5rem;
    margin-top: 2rem; }
    .contenedor .footer-pag footer h3 {
      display: flex;
      color: white;
      justify-content: center; }
  @media screen and (max-width: 600px) {
    .contenedor .main-index {
      display: grid;
      gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      position: relative;
      grid-template-areas: "imgTop"
 "img1"
 "img2"
 "img3"
 "img4"
 "img5"
 "img6";
      align-items: center;
      justify-content: center; }
      .contenedor .main-index .img-top {
        width: 100%; }
      .contenedor .main-index .imagen1 img {
        width: 16rem; }
      .contenedor .main-index .imagen1 {
        justify-self: center;
        width: 16rem; }
      .contenedor .main-index .imagen2 {
        justify-self: center;
        width: 16rem; }
      .contenedor .main-index .imagen2 img {
        width: 16rem; }
      .contenedor .main-index .imagen3 {
        justify-self: center; }
      .contenedor .main-index .imagen3 img {
        width: 16.5rem; }
      .contenedor .main-index .imagen4 {
        justify-self: center; }
      .contenedor .main-index .imagen4 img {
        width: 16.5rem; }
      .contenedor .main-index .imagen5 {
        justify-self: center; }
      .contenedor .main-index .imagen5 img {
        width: 16.5rem; }
      .contenedor .main-index .imagen6 {
        justify-self: center; }
      .contenedor .main-index .imagen6 img {
        width: 16.5rem; } }
